[user]
	name = Benjamin Bengfort
	email = benjamin@bengfort.com
	signingKey = 78A2DCBFA18B6D649A889AE76737E124F0D6AB12

[github]
	user = bbengfort

[bitbucket]
    user = bengfort

[core]
	excludesFile = ~/.gitignore_global
	editor = vim

[color]
	ui = auto

[credential]
	helper = osxkeychain

[push]
	default = simple
	followTags = true

[help]
	autocorrect = 1

[diff]
    tool = Kaleidoscope

[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool]
    prompt = false

[merge]
    tool = Kaleidoscope

[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" \"$REMOTE\"

[mergetool]
    prompt = false

[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f

[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true

[log]
    abbrevCommit = true

[commit]
	gpgSign = true
